# Virtual environment
.venv/
venv/
env/

# PyCharm settings
.idea/

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db

# Flask instance folder
instance/

# Local environment variables
.env
